@model IEnumerable<DAL.AllstarFull>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.gameID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.teamID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lgID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startingPos)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.gameID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.teamID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lgID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startingPos)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
